.btn {
  background-color: black;          
  color: var(--color-green);         
  border-radius: 8px;                
  font-family: "Poppins", sans-serif;
  padding: 10px 20px;
  cursor: pointer;                  
  border: none;
}

