.songsSection {
  margin: 32px 0;
  padding: 0 4px;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.header h2 {
  font-size: 24px;
  font-weight: 600;
  color: var(--color-black);
}

/* Tabs Container */
.tabsContainer {
  margin: 16px 0 20px 0;
  width: 100%;
}

/* Tabs wrapper border */
.tabsContainer .MuiTabs-root {
  border-bottom: 1px solid var(--color-primary);
}

/* Individual Tab styling */
.tabsContainer .MuiTab-root {
  text-transform: none;
  font-size: 15px;
  font-weight: 500;
  margin-right: 14px;
  color: var(--color-black);
  opacity: 0.7;
  min-width: 70px;    /* better spacing */
}

/* Hover effect */
.tabsContainer .MuiTab-root:hover {
  opacity: 1;
}

/* Selected (active) tab */
.tabsContainer .Mui-selected {
  color: var(--color-primary) ;
  opacity: 1 ;
  font-weight: 600;
}

/* Indicator underline */
.tabsContainer .MuiTabs-indicator {
  background-color: var(--color-primary) ;
  height: 3px;
  border-radius: 2px;
}

/* Skeleton Loader */
.skeletonRow {
  display: flex;
  gap: 12px;
  margin-top: 20px;
}
