.songsSection {
  margin: 32px 0;
  color: var(--color-white);
  padding: 0 32px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.header h2 {
  font-size: 24px;
  font-weight: 600;
}

.tabsContainer {
  margin-bottom: 20px;
  border-bottom: 1px solid var(--color-primary);
}

.tabs {
  color: var(--color-white);
  min-height: 40px;
}

.tab {
  text-transform: none !important;
  font-weight: 500 !important;
  font-size: 16px !important;
  margin-right: 16px !important;
  color: var(--color-white) !important;
  opacity: 0.7;
}

.tab:hover {
  opacity: 1;
}

.activeTab {
  color: var(--color-green) !important;
  opacity: 1;
}
