.logo {
  display: flex;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: white;
}

.icon {
  width: 30px;
  height: 30px;
  margin-right: 6px;
}

