.card {
    background-color: var(--color-black);
    border-radius: 10px;
    overflow: hidden;
    width: 160px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .imageContainer {
    position: relative;
    width: 100%;
    height: 160px;
    overflow: hidden;
  }
  
  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-bottom: 2px solid var(--color-primary);
  }
  
  .chip {
    position: absolute !important;
    bottom: 8px;
    left: 8px;
    background-color: var(--color-primary) !important;
    color: var(--color-black) !important;
    font-weight: 500 !important;
  }
  
  .title {
    font-size: 14px;
    font-weight: 500;
    color: var(--color-white);
    margin: 10px;
    text-align: center;
  }
  