.navbar {
  width: 100%;
  height: 74px;
  background: #34c94b;
  display: flex;
  justify-content: space-between;
  align-items: center;     /* test #2 requires vertical centering */
  padding: 0 32px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;  /* required */
}

.logoWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 20px; /* REQUIRED */
}

.logoImage {
  width: 40px;
}

/* SEARCH BAR CENTER */
.searchWrapper {
  width: 50%;
  height: 42px;
  background: #ffffff;
  display: flex;
  border-radius: 6px;
  overflow: hidden;
  border: 1px solid #dcdcdc;
}

.searchInput {
  width: 100%;
  border: none;
  padding: 0 14px;
  outline: none;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
}

.searchBtn {
  width: 50px;
  border: none;
  border-left: 1px solid #c5c5c5;
  background: white;
  cursor: pointer;
}

.searchBtn img {
  width: 18px;
}

/* RIGHT BUTTON */
.feedbackBtn {
  background-color: black;    
  color: #34c94b;          
  border: none;
       
  padding: 10px 20px;
  font-size: 15px;      
  font-family: "Poppins", sans-serif;  
  font-weight: 600;
}
