.navbar {
  width: 100%;
  height: 74px;
  background-color: var(--color-primary);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 32px;
  box-sizing: border-box;
}

/* LOGO */
.logoLink {
  display: flex;
  align-items: center;
  text-decoration: none;
}

/* SEARCH BAR CENTERED */
.searchWrapper {
  width: 45%;
  max-width: 600px;
  display: flex;
  justify-content: center;
}

/* FEEDBACK BUTTON */
.feedbackBtn {
  background-color: #000;
  color: white;
  padding: 10px 22px;
  border: none;
  border-radius: 19px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s ease;
}

.feedbackBtn:hover {
  opacity: 0.85;
}

