.navbar {
  width: 100%;
  height: 74px;
  background: #34c94b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 32px;
  box-sizing: border-box;
}

/* LOGO LEFT */
.logoWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logoImage {
  width: 35px;
}
.headphoneWrapper {
  position: absolute;
  top: -18px;     /* move headphone above Q */
  left: -10px;
}

.logoText {
  font-size: 23px;
  font-weight: 600;
  color: white;
  font-family: sans-serif;
}

/* SEARCH BAR CENTER */
.searchWrapper {
  width: 50%;
  height: 42px;
  background: white;
  display: flex;
  border-radius: 6px;
  overflow: hidden;
  border: 1px solid #dcdcdc;
}

.searchInput {
  width: 100%;
  border: none;
  padding: 0 14px;
  outline: none;
  font-size: 15px;
}

.searchBtn {
  width: 50px;
  border: none;
  border-left: 1px solid #c5c5c5;
  background: white;
  cursor: pointer;
}

.searchBtn img {
  width: 18px;
}

/* RIGHT BUTTON */
.feedbackBtn {
  background: #121212;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 10px 20px;
  font-size: 15px;
  cursor: pointer;
  font-weight: 500;
}
