.card {
  width: 160px;
  cursor: pointer;
}

.imageWrapper {
  position: relative;
  width: 100%;
  height: 170px;
  background: #1a1a1a;
  border-radius: 8px;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}


.chipWrapper {
  position: absolute;
  bottom: 8px;
  left: 8px;
}


.chip {
  background-color: white !important;
  color: black !important;
  font-weight: 600 !important;
  border-radius: 12px !important;
  padding: 0 6px !important;
}

.title {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: white;
}
.card:hover {
  transform: scale(1.03);
  transition: 0.2s ease-in-out;
}
