.card {
    display: flex;
    flex-direction: column;
    background-color: var(--color-black);
    border-radius: 10px;
    overflow: hidden;
    width: 159px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
  }
  
  .card:hover {
    transform: scale(1.03);
  }
  
  .imageWrapper {
    position: relative;
    width: 100%;
    height: 170px;
    overflow: hidden;
    border-radius: 10px 10px 0 0;
  }
  
  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .chipWrapper {
    position: absolute;
    top: 8px;
    right: 8px;
  }
  
  .albumTitle {
    background-color: var(--color-black);
    color: var(--color-white);
    padding: 10px;
    text-align: left;
    font-size: 14px;
    font-weight: 500;
    border-top: 1px solid var(--color-primary);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  
  .chip {
    font-size: 11px;
    background-color: var(--color-white);
    color: var(--color-black);
    font-weight: 500;
  }
  