.carouselWrapper {
  width: 100%;
  position: relative;
  padding-bottom: 20px;
}

.swiperContainer {
  padding: 10px 0;
}

.swiperSlide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-button-prev,
.swiper-button-next {
  color: var(--color-green) !important;
  background: var(--color-black);
  border-radius: 50%;
  height: 40px;
  width: 40px;
  top: 40%;
  transition: 0.3s;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  opacity: 0.8;
}

.swiper-button-disabled {
  opacity: 0 !important;
  pointer-events: none !important;
}
