.carouselWrapper {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
}

/* NAV BUTTONS */
.navBtn {
  width: 38px;
  height: 38px;
  padding: 8px;
  background: #34c94b;
  border-radius: 50%;
  cursor: pointer;
  z-index: 20;
  transition: 0.2s ease;
  user-select: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

/* LEFT ARROW */
.navBtn:first-of-type {
  left: 0;  /* FIX */
}

/* RIGHT ARROW */
.navBtn:last-of-type {
  right: 0; /* FIX */
}

.navBtn:hover {
  background: #2cb041;
}

.carouselWrapper .swiper {
  width: 100%;
}

.carouselWrapper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
