:root {
  --color-primary: #34c94b;
  --color-black: #000000;
  --color-white: #ffffff;
}

.wrapper {
  display: flex;
  align-items: stretch;
  height: 48px;
}

.search {
  padding: 14px 20px;
  height: 100%;
  border-radius: 8px 0 0 8px;
  border: 1px solid var(--color-black);
  width: 502px;
  outline: none;
  font-size: 16px;
}

.searchButton {
  border-radius: 0 8px 8px 0;
  padding: 14px 20px;
  height: 100%;
  border: 1px solid var(--color-black);
  border-left: none;
  cursor: pointer;
  background-color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchButton:hover {
  background-color: #f0f0f0;
}

.listElement {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-primary);
  cursor: pointer;
}

.listElement:last-child {
  border-bottom: none;
}

.albumTitle {
  font-size: 16px;
  font-weight: 500;
  color: var(--color-white);
}

.albumArtists {
  font-size: 12px;
  color: var(--color-white);
  opacity: 0.7;
}
