.player {
  width: 100%;
  height: 80px;
  background: #121212;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;
  color: white;
}

/* LEFT — SONG INFO */
.songInfo {
  display: flex;
  align-items: center;
  gap: 12px;
}

.thumbnail {
  width: 55px;
  height: 55px;
  border-radius: 8px;
  object-fit: cover;
}

.songName {
  font-size: 15px;
  font-weight: 600;
}

.album {
  font-size: 12px;
  opacity: 0.6;
}

/* CENTER — PLAY BUTTON */
.controls {
  display: flex;
  justify-content: center;
  width: 80px;
}

.playBtn {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  font-size: 18px;
  border: none;
  background: white;
  color: black;
  cursor: pointer;
}

/* RIGHT — PROGRESS BAR */
.progress {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 350px;
}

.bar {
  flex: 1;
  height: 6px;
  background: #333;
  border-radius: 10px;
  overflow: hidden;
}

.fill {
  width: 35%;
  height: 100%;
  background: #34c94b;
}
