.navbar {
  width: 100%;
  height: 74px;
  background-color: var(--color-green);  /* use your green variable */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 32px;
  box-sizing: border-box;
}
