@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  min-height: 100%;
  background-color: #121212;  
  font-family: "Poppins", sans-serif;
  color: white;                
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #2a2a2a;
  border-radius: 4px;
}

/* Global button + input reset */
button {
  font-family: inherit;
  cursor: pointer;
}

input {
  font-family: inherit;
}

/* Variables */
:root {
  --color-green: #34c94b;   
  --color-dark: #121212;
  --color-card-bg: #1d1d1d;
  --color-light-text: #cfcfcf;
}
